.about__section{
    height: 100vh;
    width: auto;
    .about__section_content{
        display: flex;
        flex-direction: column;
        align-content: space-between;    
        .display3{
            text-transform: uppercase;
            font-weight: bold;
        }
        .about__line{
            width: 4rem;
            border-bottom: 2px solid $line;             
        }
        .about__text {
            color: $line;
        }
    }
    .about-us__section_content {
        display:flex;        
        justify-content: space-around;
        .display4{
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.5em;            
        }
        .line {
            width: 4rem;
            border-bottom: 2px solid $line;  
        }
        .last-box{
            display:flex;
            border: 1px solid $line;          
            height: 22.5em;
            width:16.8em;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            
            
        }
        .btn__apply{
            color: $line;
            font-weight: bold;
            border: 1px solid $line;
            border-radius: 2px;
            width: 10em;
            height: 3em;
            background: transparent;           
            cursor: pointer;
            &:hover{
                background: $line;
                color: $white;
                border: 1px solid $white;
            }
        }
        }
    }
    
