* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    font-family: "Amble-Regular";
    font-weight: 400;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
   
}
a {
    text-decoration: none;
   
}
p {
    line-height: 130%;
}
.display2{
    color:$line;                             
    text-transform: uppercase; 
    font-family: $font_title; 
    font-size: 1.2rem; 
    padding-top: 5rem;  
    text-align: center;            
}
.dark__line{
    width: 4rem;
    border-bottom: 2px solid $line;  
    padding-top: 2.2em; 
    text-align: center;              
}
.info__text {
    color: $line;           
    font-size: 1em;
    width: 46%;    
    text-align: center; 
    padding-top: 2em;  
    padding-bottom: 3rem;
}
.info__text_others {
    color: $line;           
    font-size: 1em;
    width: 50%;    
    text-align: center; 
    padding-top: 2em;  
    padding-bottom: 3rem;
}
@media (min-width: 320px) and (max-width: 576px){
    .info__text {                   
        width: 70%; 
        line-height: 130%;   
    }
    .info__text_others {        
        width: 70%;
        line-height: 130%;  
    }
} 
                      




 
