.choice__section{
    height: 50vh;
    width: 100%;
    .choice__section_content{
        display: flex;
        flex-direction: column;
        align-content: space-between;    
        .display3{
            text-transform: uppercase;
            font-weight: bold;
        }
        .choice__line{
            width: 4rem;
            border-bottom: 2px solid $line;             
        }
        .choice__text {
            color: $line;
        }
    }
}