.client__section{
    height: 50vh;
    width: auto;   
    .client__section_content{ 
        height: 50vh;     
        background: $bg-light; 
        padding: 2rem 0;         
        .display3{
            text-transform: uppercase;
            font-weight: bold;
        }
        .client__line{
            width: 4rem;
            border-bottom: 2px solid $line;             
        }
       
       
    }   
}   

