.contacts {
    display: flex;
    justify-content: space-between;
}
.contacts__left {
    flex-basis: 40%;
    background: #f2f2f2;
    box-sizing: border-box;
    padding: 80px 0 120px calc((100% - 1170px) / 2);
}
.contacts__right {
    flex-basis: 60%;
    background: #e4e4e4;
    box-sizing: border-box;
    padding: 105px calc((100% - 1170px) / 2) 120px 100px;
}
.contacts__right-bottom textarea {
    width: 100%;
    border: none;
    border-bottom: #afafaf solid 3px;
    background-color: #e4e4e4;
    padding: 105px 30px 5px;
    font-size: 18px;
    line-height: 40px;
    color: #676767;
    font-family: $font_main;
    font-weight: 400;
    font-style: italic;
    resize: none;
}

.contacts__block h3 {
    font-size: 24px;
    line-height: 60px;
    color: #222222;
    font-family: $font_title;
    text-align: justify;
}

.contacts__block p {
    width: 270px;
    text-align: justify;
    font-size: 22px;
    line-height: 40px;
    color: #222222;
    font-family: $font_main;
    font-weight: 300;
    font-style: italic;
    margin: 0;
}

.contact__button {
    color: #222222;
    border: 3px solid #222222;
    font-size: 24px;
    font-family: $font_main;
    width: 183px;
    height: 60px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 40px;
}

.contacts__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
    margin-top: 20px;
    .icon1{
        padding-top: 0.2em;
    }
    .icon2{
        padding-top: 0.3em;
    }
}
form {
    width: 95%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-end;
}

form div {
    width: 100%;
    display: flex;
}

form input {
    background: transparent;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    color: #676767;
    font-family: $font_main;
    font-weight: 400;
    font-style: italic;
    box-sizing: border-box;
    padding: 5px 30px;
    border: none;
    border-bottom: 3px solid #B3B3B3;
}

.email {
    width: calc(50% - 10px);
    margin-left: 20px;
}

.name {
    width: calc(50% - 10px)
}

.message {
    width: 100%;
}

form button.send {
    border-radius: 0;
    padding: 10px 30px;
    width: auto;
    margin: 0;
}
 
@media (max-width: 1350px) {
    .contacts__right {
        padding-right: 15px;
    }
    .contacts__left {
        padding-left: 7em;
    }
}
@media (max-width: 1169px) {
    .contacts {
        flex-wrap: wrap;
    }
    .contacts__left {
        text-align: center;
    }
    .contacts__left,
    .contacts__right {
        flex-basis: 100%;
        padding: 60px 15px;
    }
    .contacts__block p,
    .contacts__block h3 {
        text-align: center;
    }
    .contacts__icons {
        margin: 20px auto 0;
    }
    .contacts__block p {
        margin: 0 auto;
    }
    .btn {
        max-width: 250px;
        font-size: 1.4em;
    }
    form{
        width: 90%;
        margin: 0 auto;
        padding: 0;
    }
}
@media (max-width: 750px) {
    form {
        width: 85%;
        margin: 0 auto;
    }   
    .name {
        width: 100%;
    }
    .email {
        width: 100%;
        margin: 30px 0 0;
    }   
    form {
        height: inherit;
    }
    .message {
        margin-top: 30px;
    }
    .contact__button {
        margin: 2rem auto;
    
    }
}

@media (max-width: 560px) {
    .contacts__right-top {
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    .contacts__right-top input {
        flex-basis: 100%;
    }
    .contacts__right-top .name {
        margin-right: 0;
        margin-bottom: 40px;
    }
}
@media (max-width: 750px) {
    .contacts__right-top {
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    .contacts__right-top input {
        flex-basis: 100%;
    }
    .contacts__right-top .name {
        margin-right: 0;
        margin-bottom: 40px;
    }
   
}




