@font-face {
  font-family: "Amble-Regular";
  src: url("../fonts/Amble/Amble-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "BigJohn";
  src: url("../fonts/BigJohn/BIG JOHN.otf");
  font-style: normal;
  font-weight: normal;
}