@font-face {
    font-family: 'Amble';
    font-style: normal;
    font-weight: 400;
    src: url('../dist/fonts/Amble/Amble-Regular.ttf'); 
   
        
  }
@font-face {
    font-family: 'BigJohn';
    font-style: normal;
    font-weight: 400;
    src: url('../dist/fonts/BigJohn/BIG\ JOHN.otf'); 
   
}