.footer {
    height: auto;
    background: $line;   
    .footer__content{
        display: flex;
        flex-direction: column;   
        align-items: center;       
        .footer__logo { 
            padding-top:2rem;
                img{
                    width:15em;
                    height: 3em;
                }   
        } 
        .footer__text{
            text-align: center; 
            padding-bottom: 2rem;
            padding-top: 2rem;        
            .grey-text{
                color: $bg-greyer;
                font-size: 0.8em;
            }
            .red-text{
                color: $red;
                font-size: 0.8em;
            }
        }
    }    
}
@media (min-width: 320px) and (max-width: 576px){
    .footer{
        .footer__text {
            max-width: 10em;
            padding-bottom: 2rem;  
            padding-top: 2rem;         
        }
    } 
}