.intro__section{
    height: 100vh;
    width: auto;
    .intro__section_content{        
        display: flex;
        flex-direction: column;
        align-content: space-between;    
        .display2{
            text-transform: uppercase;
            font-weight: bold;
        }
        .intro__line{
            width: 4rem;
            border-bottom: 2px solid $line;             
        }
        .intro__text {
            color: $line;
        }
    }
    .creativity__section_content{
        height: 50vh;
        background:url("../images/creativity.png") no-repeat;
        background-size: cover;
        .btn{
            color: $white;
            font-weight: bold;
            border: 1px solid $white;
            border-radius: 2px;
            width: 13em;
            height: 3em;
            background: transparent;           
            cursor: pointer;
            &:hover{
                background: $white;
                color: $line;
                border: 1px solid $line;

            }
        }
    }

}