.container {   
    overflow: hidden;
	max-width: 1170px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
@for $i from 1 through $column_count {
    .col-#{$i} {
        width: (100% / $column_count)*$i;
    }
}

@media only screen and (min-width: 576px){
    .container {
        width: 560px;        
    }
}
@media only screen and (min-width: 768px){
    .container {
        width: 740px;
    }
}
@media only screen and  (min-width: 992px){
    .container {
        width: 960px;
    }
}
@media only screen and (min-width: 1200px){
    .container {
        width: 1140px;
    }
}
