#intro__section{
    height: auto;    
    .intro__section_content{ 
        height: auto;       
        display: flex;
        flex-direction: column;
        align-content: space-between; 
        align-items: center; 
        padding-bottom: 3rem;      
    }
    .creativity__section_content{
        height: 60vh;
        background:url("../images/creativity.png") no-repeat center center/cover;
        display: flex;
        justify-content: center;
        align-items: center;
        .link {                
            color: $white;
            font-weight: 700; 
            font-size: 1.2em;           
            border: 2px solid $white;
            letter-spacing: 1px;            
            border-radius: 2px;
            width: 16em;
            height: 3.5em;
            background: transparent;             
            text-align: center;
            display: block;
            font-family: $font_main; 
            padding-top:1em;                
            cursor: pointer;
            &:hover{
                color: $line;
                border: 2px solid $white;
                background: $white; 
            }
        }
    }   
}   
#work__section{
height: auto;   
.work__section_content{        
    display: flex;
    flex-direction: column;   
    align-items: center; 
    .work__section_categories {
        margin: 2rem 0;
        #tab-btn{
            border: none;
            background: transparent;
            color: $grey;
            padding: 6px;
            text-transform: uppercase;
            font-size: 1.1em;
            font-weight: 600; 
            margin: 0 10px;  
            cursor: pointer;
            &:hover{
                color: $line;
            } 
        }               
        #tab-btn.active {
            color: $line;
            
            }
        }    
    .work__section_images{        
        display: flex;
        justify-content: center;
        flex-flow: wrap;        
        .img{
            width: 100%;
            transition: all 1s;                
            padding: 10px;
        }
        div.hidden{
            animation: hiddenWork 1s forwards;
            } 
            @keyframes hiddenWork {
                0% {}            
                100% {
                opacity: 0;
                width: 0px;
                height: 0px;
                margin: 0;
                }
            }                
            .work>div {
                max-width: 340px;
                overflow: hidden;
                width: 100%;              
                position: relative;
                &:hover {
                    .overlay {
                        display: block;
                    }
                }
            }
            
            .work>div>img {
                width: 100%;
                max-width: 370px;
                height: 100%;            
            } 
        .overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border: 8px solid $line;
            display: none;
            background-color: rgba(0, 0, 0, 0.4);                
            cursor: pointer;                              
            .overlay_heading{
                position: absolute;
                top: 38%;
                left: 28.5%;
                color: $white;
                font-family: $font_title;
                text-transform: uppercase;
                font-size: 1.2em;
                font-weight: 600;                    
                margin-left: 1.5rem;                 
            }
            .overlay_link {
                position: absolute;
                top: 50%;
                left: 30%;
                color: $white;
                font-family: $font_main;
                text-decoration: none;                    
                font-size: 1.5em;                    
                font-weight: 400;
                &::after {
                    content: "";
                    display: block;                       
                    margin-top: 2rem;
                    width: 2.5em;
                    height: 0.1em;
                    background-color: $red;
                    margin-left: 2.5rem;
                }
                &:hover{
                    color: $red;
                }                    
            }
            &:hover{                    
                display: block;
                }                    
                
            } 
        }
    }
}
#help__section{
    height: 50vh;
    width: auto;    
    .help__section_content{
        height: 50vh;
        background: url("../images/client.png") no-repeat center center/cover;        
        display: flex;
        justify-content: center;
        align-items: center;
        .link {            
            color: $white;
            font-weight: 700; 
            font-size: 1.2em;           
            border: 2px solid $white;
            letter-spacing: 1px;            
            border-radius: 2px;
            width: 15em;
            height: 3.5em;
            background: transparent;             
            text-align: center;
            display: block;
            font-family: $font_main; 
            padding-top:1em;                
            cursor: pointer;
            &:hover{
                color: $line;
                border: 2px solid $white;
                background: $white; 
            }
        }
    }
}
#client__section{
    height: auto; 
    background: $bg-light;  
    .client__section_content{       
        display: flex;
        flex-direction: column;
        align-items: center;       
        .logo-section{
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 3rem 1rem;
            .company-logos{
                width: 8em;
                height: auto;
                filter: grayscale(100%);
                &:hover{
                    filter: grayscale(0%);
                }
            }
            .company-logos4{
                width: 10em;
                height: auto;              
                filter: grayscale(100%);
                &:hover{
                    filter: grayscale(0%);
                }
            }
            
        }       
    }   
}
#about__section{
    height: auto;   
    .about__section_content{
        display: flex;
        flex-direction: column;
        align-items: center;  
        align-content: space-between; 
    }        
    .our-employees{
        display: grid;        
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 0.5rem;
        margin: 2rem 3rem;
        .employee-image{           
            position: relative;
            .img {
                width: 100%;
                height: auto;
                border: 5px solid transparent;
                &:hover {
                    border: 5px solid black;
                }
            }
            .link-icon{
                position: absolute;
                display: none;            
                top:5%;
                left: 82%;
            }
            .employee-name{
                position: absolute;
                display: none;            
                top: 80%;
                left: 35%;                
                span{
                    color: $white;
                    font-size: 1em;
                    font-weight: 500;
                    font-family: $font_title;                    
                }                
            }
            .employee-position{
                position: absolute;
                display: none;            
                top: 88%;
                left: 27%;                
                span{
                    color: $white;
                    font-size: 1em;
                    font-weight: 500;
                    font-family: $font_main;                    
                }
            }
            &:hover{
                .link-icon{
                    display: block;
                }
                .employee-name{
                    display: block;
                }
                .employee-position{
                    display: block;
                }
                filter: grayscale(100%); 
                    
            }
        }    
        .display4{
            text-transform: uppercase;
            font-weight: 400;
            font-size: 1.5em; 
            font-family: $font_title;           
        }
        .last-box{
            display:flex;
            border: 1px solid $line;          
            height: 20.2em;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center; 
            margin-top: 0.4em;
                    
        }
    }
}
#video__section {      
    height: 450px;
    width: 100%; 
    background: rgba(0, 0, 0, 0.4) url("../images/video.png") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .play-icon {        
        width: 3em;
        height: 3em;       
        cursor: pointer;
    } 
    #player{
        opacity: 1;
    }       

#choice__section{
    height: auto;     
    .choice__section_content{      
        display: flex;
        flex-direction: column;
        align-content: space-between; 
        align-items: center;          
    }
    .slider__multiple-item{
        display: flex;            
        .slider__section{        
            display:flex;
            flex-direction:column; 
            align-content: center;           
            padding-bottom: 2rem;
            padding-left: 2rem;                                    
            .slider-box{
                width: 17em;
                height: 9em;
                position: relative; 
                .i-phone{
                    width: 4em;
                    height: 8em;  
                    position: absolute;
                    left: 30%;                      
                }
                .i-pad{
                    width: 8em;
                    height: 5em;                      
                    position: absolute;
                    left: 26%;
                    top: 35%;                        
                }
                .macbook{
                    width: 8em;
                    height: 5em;              
                    position: absolute;
                    left: 26%;
                    top:35%;                           
                }
            }
            .display5{
                color: $line;
                padding: 1rem 0;
                padding-left: 5rem;              
                }
            .slider-text {
                color: $line;
                width: 16em; 
                text-align: center;
                padding: 0 1.5rem;                                            
            }
        }
        
        .slick-dots{
            li {
                width: 12px;
                height: 12px;
                opacity: 1;
                background: $grey;
                border-radius: 50%;
                button{
                    &:before{
                        content: '';
                    }
                }
            }
            .slick-active{
                button {
                    &:before{
                        content: '';
                        background: $red;
                        border-radius: 50%;
                        width: 12px;
                        height: 12px;
                    }
                }
            }
        }        
    }   
}
#quote__section{
    height: 50vh; 
    padding-top: 2rem; 
    .quote__section_content{   
        height: 50vh;    
        background: url("../images/get.png") no-repeat center center/cover;
        display: flex;
        justify-content: center;
        align-items: center;
        .link {
            color: $white;
            font-weight: 700; 
            font-size: 1.2em;           
            border: 2px solid $white;
            letter-spacing: 1px;            
            border-radius: 2px;
            width: 16em;
            height: 3.5em;
            background: transparent;             
            text-align: center;
            display: block;
            font-family: $font_main; 
            padding-top:1em;                
            cursor: pointer;
            &:hover{
                color: $line;
                border: 2px solid $white;
                background: $white; 
            }
        }      
    }    
}
#contact__section{    
    height: auto; 
    display:flex;
    justify-content: space-between;   
    .left__section{
        flex-basis: 40%;       
        box-sizing: border-box;
        background: $bg-grey;
        padding-left: 7em;
        padding-top:5rem; 
        .display4{
            text-transform: uppercase;
            font-weight: 400;
            font-size: 1.2em;
            font-family: $font_title;
            padding-bottom: 1.5rem;
        }
        .contact__text{
            color: $line;                
            font-weight: 300;               
            font-style: italic;
            padding-bottom: 0.6em;
            text-align: justify;
            
        }        
        .social-box{
            display: flex;
            justify-content: space-between;   
            align-items: center;          
            width: 11em;
            margin-top: 1.2rem;               
        }
    }        
    .right__section{
        flex-basis: 60%;
        background: $bg-greyer;
        box-sizing: border-box;
        padding-left: 2rem;
        padding-right: 5rem;
        padding-top: 4rem;
        padding-bottom: 3rem;                      
        .form{
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: column;
            justify-content: space-between;           
            .input__area{
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding-bottom: 5rem;
                .input{
                    background: transparent;
                    width: 45%;  
                    border: none;                 
                    border-bottom: 1.5px solid $grey;
                    height: 3em; 
                    padding: 0.5rem 1rem;
                    color: $form-text;
                    font-weight: 400;
                    font-style: italic;
                    font-size: 1em; 
                }
                input::placeholder{
                    font-style: italic;
                    color: $grey;
                    font-weight: 400;
                    font-style: italic;
                    font-size: 1em;
                    font-family: $font_main; 
                }
            }
            .textarea__area{
                width: 100%;
                border: none;
                border-bottom: 1.5px solid $grey;               
                resize: none;
                textarea {                   
                    padding: 0.5rem 1rem;
                    background-color: $bg-greyer; 
                    border: none;
                    width: 100%; 
                    font-size: 1em;               
                    color: $form-text;
                    font-family: $font_main;
                    font-weight: 400;
                    font-style: italic;
                    ::placeholder{
                        font-style: italic;
                        color: $grey;
                        font-weight: 400;
                        font-style: italic;
                        font-size: 1em;
                        font-family: $font_main; 
                        }
                    }            
                }
            .send{
                display:flex;
                justify-content: flex-end;
                .contact__button {
                    color: $line;
                    border: 3px solid $line;
                    font-size: 1.5em;
                    font-family: $font_main;
                    width: 7em;
                    height: 2.5em;
                    font-weight: bold;
                    font-style: normal;
                    letter-spacing: 1px;
                    cursor: pointer;
                    margin-top: 2rem;                   
                   
                }  
            }          
            
        }             
    }
}

