.welcome__section{
    height: 100vh;    
    background: url("../images/hero.png") no-repeat;
    background-size: cover;
    opacity: 0.9; 
    .welcome__section_content{
        display:flex;
        flex-direction: column;
        align-items: center;        
        position: relative;
        .display1{
            color:$white;                             
            text-transform: uppercase; 
            font-family: $font_title; 
            font-size: 1.5rem; 
            padding-top: 8em;  
            text-align: center;     
        }    
        .welcome__line{        
            width:4rem;
            border-bottom: 2px solid $white; 
            padding-top: 2em;                  
        }
        .welcome__text {
            color: $white; 
            font-size: 1.2em;
            max-width: 50%;    
            text-align: center; 
            padding-top: 2em; 
            padding-bottom:5rem;        
        }
        .mouse-scroll{
            width: 1.3em;
            height:auto; 
            position: absolute;
            bottom: -50%;   
        }
    }  
}

.intro__section{
    height: auto;    
    .intro__section_content{ 
        height: auto;       
        display: flex;
        flex-direction: column;
        align-content: space-between; 
        align-items: center;       
    }
    .creativity__section_content{
        height: 50vh;
        background:url("../images/creativity.png") no-repeat;
        background-size: cover;
        position: relative;
    }   
}
.work__section{
    height: auto;   
    .work__section_content{        
        display: flex;
        flex-direction: column;
        align-content: space-between;
        align-items: center;        
        .work__line{
            width: 4rem;
            border-bottom: 2px solid $line;  
            padding-top: 2.2em;             
        }
        ul {
            display:flex; 
            padding-top: 2em;
            padding-bottom: 2em;
            li{
                list-style-type: none;
                width: 8em;                
                & a{
                    text-transform: uppercase;
                    color: $grey;
                    font-weight: 500;
                    &:hover{
                        color: $line;
                    }
                }
            }           
        }
    .work__section_images{        
        display: grid;   
        grid-template-rows: auto auto;    
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2em;
        .img{
            width: 18em;
            height: auto;
        }       
     }
    }
}

.help__section{
    height: 50vh;
    width: auto;
    .help__section_content{
        height: 50vh;
        background: url("../images/client.png") no-repeat;
        background-size: cover;
        position: relative;        
    }    
}
.client__section{
    height: auto;  
    .client__section_content{          
        background: $bg-light; 
        display: flex;
        flex-direction: column;
        align-items: center;       
        .logo-section{
            width: 100%;
            display: flex;
            justify-content: space-around;
            padding: 3rem 1rem;
        }       
    }   
}
.about__section{
    height: auto;   
    .about__section_content{
        display: flex;
        flex-direction: column;
        align-items: center;  
        align-content: space-between; 
    }        
    .our-employees{
        display: flex;        
        justify-content: space-between;    
        padding-bottom: 3rem;  
        .display4{
            text-transform: uppercase;
            font-weight: 400;
            font-size: 1.5em; 
            font-family: $font_title;           
        }
        .last-box{
            display:flex;
            border: 1px solid $line;          
            height: 22.5em;
            width: 16em;
            flex-direction: column;
            justify-content: center;
            align-items: center;            
        }
    }
}
.video__section {
    height: 50vh;
    width: auto;
    .video__section_content{
        height: 50vh;
        background: url("../images/video.png") no-repeat;
        background-size: cover;   
        position: relative;
        .play-icon {
            width: 3em;
            height: auto;
            position: absolute;
            top: 40%;
            left: 45%;
        }     
    }    
}

.choice__section{
    height: auto;     
    .choice__section_content{      
        display: flex;
        flex-direction: column;
        align-content: space-between; 
        align-items: center;          
    }
    .slider__multiple-item{
        .slider__section{        
            display:flex;
            flex-direction:column;                  
            justify-content: center;  
            padding-bottom: 2rem;         
            .slider-box{
                width: 20em;
                height: 9em;
                position: relative;                  
                .i-phone{
                    width: 4em;
                    height: 8em;  
                    position: absolute;
                    left: 45%;                      
                }
                .i-pad{
                    width: 8em;
                    height: 5em;                      
                    position: absolute;
                    left: 40%;
                    top: 35%;                        
                }
                .macbook{
                    width: 8em;
                    height: 5em;              
                    position: absolute;
                    left: 40%;
                    top:35%;                           
                }
            }
            .display5{
                color: $line;
                padding: 1rem 0;
                text-align: center;
            }
            .slider-text {
                color: $line;
                width: 20em; 
                text-align: center;                            
            }
        }
    }    
}
.quote__section{
    height: 50vh; 
    padding-top: 2rem; 
    .quote__section_content{   
        height: 50vh;    
        background: url("../images/get.png") no-repeat;
        background-size: cover; 
        position: relative;      
    }    
}
.contact__section{    
    height: auto;    
    display: flex;
    .left__section{
        width: 38vw;
        height: 60vh;
        background: $bg-grey;
        padding:5rem 0;    
        padding-left: 8rem;   
        .display4{
            text-transform: uppercase;
            font-weight: 400;
            font-family: $font_title;
            padding-bottom: 1rem;
        }
        .contact__text{
            color: $line;
            max-width: 60%;
            font-weight: 500;
            line-height: 200%;
            font-style: italic;
            padding-bottom: 1rem;
        }
        .social__links{
            padding-right: 1.2rem;
        }
    }
    
    .right__section{
        width: 62vw;
        height: 60vh;
        background: $bg-greyer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        .form{
            width: 80%;
            padding-left: 3rem;
            .input__area{
                display: flex;
                justify-content: space-between;
                padding-bottom: 3rem;
                .input{
                    background: transparent;
                    width: 45%;  
                    border: none;                 
                    border-bottom: 1.5px solid $grey;
                    height: 3em; 
                    padding: 0.5rem 1rem;
                }
                input::placeholder{
                    font-style: italic;
                }
            }
            .textarea__area{
                width: 100%;
                .textarea {
                    width:100%;
                    background: transparent;
                    border: none;
                    border-bottom: 1.5px solid $grey;
                    height: 3em; 
                    padding: 0.5rem 1rem;
                    color: $form-text;
                    font-style: italic;
                    margin-bottom: 1rem;
                }        
            }
            .send{
                display: flex;
                justify-content: flex-end;
                .send__button{
                    color: $line; 
                    font-weight: 600;
                    font-size: 1em;
                    font-family: $font_main;                   
                    width: 8em;
                    height: 2.5em;
                    border: 2px solid $line;
                    border-radius: 2px;                 
                }            
            }                   
        }             
    }
} 
@media (max-width: 576px){
    ul {
        display:flex; 
        flex-direction: column;
        text-align: center;      
    } 
    .work__section_images{ 
        grid-template-rows: auto;           
        grid-template-columns: 1fr;
             
    }
    .logo-section{        
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    .our-employees{              
        flex-direction: column;
        align-items: center;   
    }
    .contact__section{    
        flex-direction: column;
    }    
    .contact__section{ 
        .left__section{
            width: 100vw;
            height: auto;
    }
}
    .contact__section{
        .right__section{
        width: 100vw;
        height: auto;
        padding: 2rem;
    } 
}

.contact__section{
    .right__section{
        .form {
            .send{    
                justify-content: center;
                padding-top:1.5rem;
            }
        }
    }
}

        
}
