@media (min-width: 320px) and (max-width: 576px){
    .welcome__section{
        .welcome__section_content{
            .display1{
                font-size: 1em;
                width: 10em;
            }
        }
    }
    #intro__section{ 
        .container{       
            .creativity__section_content{            
                position: relative;
                .link {
                    position:absolute;
                    top: 35%;
                    left: 20%;
                }
            }
        }
    }
    #work__section{
        .container{
            .work__section_content{
                .navbar{
                    flex-direction: column;
                    text-align: center;
                    .nav-item{
                        padding-bottom: 1rem;
                    }
                }
                .work__section_images{                             
                    grid-template-columns: 1fr;
                    .img{
                        width: 14em;
                        height: auto;
                    }                     
                }
            }
        }
    }
    #help__section{        
        .help__section_content{     
            .link {
                position:absolute;
                top: 35%;
                left: 20%;
            }
        }        
    }
    #client__section{
        .client__section_content{
            .logo-section{        
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
    #client__section{
        .client__section_content{
            .logo-section{        
                .company-logos{
                    width: 7em;
                    height: auto;
                    padding-top: 1.5rem;
                }
                .company-logos4{
                    width: 9em;
                    height: auto;
                    padding-top: 1.5rem;
                }
            }
        } 
    }
    #about__section{       
        .container{                 
            .our-employees{
                display: grid;        
                grid-template-columns: 1fr;
                grid-column-gap: 1rem;
                text-align: center;               
            }
            .last-box{
                margin: 0 auto; 
            }
        }
    }
    #quote__section{        
        .quote__section_content{        
            .link {
                position:absolute;
                top: 35%;
                left: 20%;
            }             
    }
}
    #contact__section{ 
        .container{
            .contact__section_content{   
                flex-direction: column;
                .left__section{
                    width: 100%;                              
                    text-align: center;
                    padding: 2rem;
                    .contact__text{
                        max-width: 90%;
                    }                    
                }
                .right__section{
                    width: 100%;                    
                    padding: 2rem;
                    text-align: center;
                    .form {
                        .input__area{
                            flex-direction: column;
                            input{
                                width:100%;
                                margin-top: 1rem;
                            }
                        }
                        .send{    
                            justify-content: center;
                            padding-top:1.5rem;
                        }
                    }
                } 
            }
        }
    } 
}     
@media (min-width: 577px) and (max-width: 768px){
    .welcome__section{
        .welcome__section_content{
            .display1{
                font-size: 1.2em;
                width: 17em;
            }
        }
    }      
    #work__section{
        .container{
            .work__section_content{
                .navbar {
                    flex-direction:column;
                    text-align: center;
                    .nav-item{
                        padding-bottom: 0.5rem;
                    }
                }
            .work__section_images{                             
                grid-template-columns: repeat(2, 1fr);
                .img{
                    width: 15em;
                    height: auto;
                }                     
            }
        }
    }
}
    #client__section{
        .container {
            .client__section_content{
                .logo-section{        
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: auto;
                    justify-items: center;
                    .company-logos{
                        width: 7em;
                        height: auto;
                        padding-top: 1.5rem;
                    }
                    .company-logos4{
                        width: 9em;
                        height: auto;
                        padding-top: 1.5rem;
                    }

                }
            }
        }
    }   
    #about__section{
        .container{
            .our-employees{              
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;
                grid-gap: 2rem; 
                justify-items: center;
            }
        }
}
    #contact__section{ 
        .container {
            .contact__section_content{   
                flex-direction: column;
                .left__section{
                    width: 100%;                                
                    text-align: center;
                    padding: 2rem;
                    .contact__text{
                        max-width: 90%;
                    }                   
                } 
                .right__section{
                    width: 100%;                   
                    padding: 2rem;
                    text-align: center;
                    .form {
                        .send{    
                            justify-content: flex-end;
                            padding-top:1.5rem;
                        }
                    }
                }    
            }
        }
    } 
}   
@media (min-width: 769px) and (max-width: 992px){
    .welcome__section{
        .welcome__section_content{
            .display1{
                font-size: 1.5em;                
            }
        }
    }      
    #work__section{
        .container{
            .work__section_content{
                
            .work__section_images{                             
                grid-template-columns: repeat(3, 1fr);
                .img{
                    width: 16em;
                    height: auto;
                }                     
            }
        }
    }
}
    #client__section{
        .container {
            .client__section_content{
                .logo-section{        
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-template-rows: auto;
                    justify-items: center;
                    .company-logos{
                        width: 7em;
                        height: auto;
                        padding-top: 1.5rem;
                    }
                    .company-logos4{
                        width: 9em;
                        height: auto;
                        padding-top: 1.5rem;
                    }

                }
            }
        }
    }   
    #about__section{
        .container{
            .our-employees{              
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: auto;
                grid-gap: 2rem; 
                justify-items: center;
            }
        }
    }
}
    
     
            
   
        

