.quote__section{
    height: 70vh;
    width: auto;
    .quote__section_content{
        height: 50vh;
        background: url("../images/get.png") no-repeat;
        background-size: cover;              
        .btn{
            color: $white;
            font-weight: bold;
            border: 1px solid $white;
            border-radius: 2px;
            width: 13em;
            height: 3em;
            background: transparent;           
            cursor: pointer;
            &:hover{
                background: $white;
                color: $line;
                border: 1px solid $line;
            }
        }
    }
    
}