$white: #ffffff;
$line: #222222;
$grey: #b1afaf;
$bg-light: #f4f4f4;
$bg-grey: #f2f2f2;
$bg-greyer: #e4e4e4;
$red: #d87843;
$form-text: #676767;
$intro-text: #fffefe;
$font_main: "Amble-Regular";
$font_title: "BigJohn";
$column_count: 12;
$bg: #d56e4e;
$mouse:#c88365;


